@media (max-width:767px) {

 header nav {
   overflow-y: scroll;
 } 

 .pickup {
   flex-direction: column;
   padding-top: 140px;
  }
  
  .pickup article {
    width: 100%;
    margin-bottom: 30px;
 }

  .container {
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  aside {
    width:100%;
    padding: 0%;
  }

  .content {
    flex-direction: column;
  }
  
  .content section {
    width: 100%;
  }
  
  footer section {
    margin-bottom: 30px;
  }

  








}
